[(lhs:"S",rhs:["NP","VP"]),(lhs:"VP",rhs:["Verb"]),(lhs:"VP",rhs:["Verb","NP"]),(lhs:"VP",rhs:["VP","PP"]),(lhs:"NP",rhs:["Det","Noun"]),(lhs:"NP",rhs:["NP","PP"]),(lhs:"PP",rhs:["Prep","NP"]),(lhs:"Verb",rhs:["sees"]),(lhs:"Det",rhs:["the"]),(lhs:"Det",rhs:["a"]),(lhs:"Prep",rhs:["under"]),(lhs:"Prep",rhs:["with"]),(lhs:"Prep",rhs:["in"]),(lhs:"Noun",rhs:["zebra"]),(lhs:"Noun",rhs:["lion"]),(lhs:"Noun",rhs:["tree"]),(lhs:"Noun",rhs:["park"]),(lhs:"Noun",rhs:["telescope"])]